---
import { slides } from "@data/hero-carousel";
import ButtonAnchor from "@components/ButtonAnchor.astro";
---

<section>
  {
    slides.map((slide, index) => (
        <img
          src={slide.image}
          class="hidden"
          alt={slide.imageAlt}
          loading="lazy"
        />
        <div class="hero-info-container">
          <div class="hero-info-flex">
            <h2>{slide.title}</h2>
            <p>{slide.description}</p>
            <ButtonAnchor slug={slide.link} text={slide.buttonText} />
          </div>
        </div>
    ))
  }
</section>

<style>
  section {
    position: relative;
    margin-top: calc(
      (var(--bottom-header-hg) + var(--header-separator-line-hg)) * -1
    );
    height: calc(100dvh - var(--top-header-hg));
    overflow: hidden;
  }

  img {
    height: inherit;
    width: 100%;
    object-fit: cover;
  }

  .hero-info-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    top: calc(var(--bottom-header-hg) + var(--header-separator-line-hg));
    left: 0;
    width: 37rem;
    bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
  }

  .hero-info-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 1.5rem;
    text-wrap: balance;
  }

  @media (width < 1184px) {
    .hero-info-container {
      width: 50%;
    }
  }

  @media (width < 1025px) {
    .hero-info-flex {
      width: 80%;
    }
  }

  @media (width < 648px) {
    .hero-info-container {
      width: 100vw;
    }

    section {
      height: 100svh;
    }
  }
</style>
