---
// Import types
import type { Category, Post } from 'src/types';

// Import util functions
import { dateConverter } from '@utils/helperFunctions';

const { post, postCategories } = Astro.props as {
  post: Post;
  postCategories: Category[];
};

const {
  title: { rendered: title },
  excerpt: { rendered: excerpt },
  slug,
  date,
} = post;
---

<article class='card'>
  <header>
    <h2 set:html={title} />
    <p>{dateConverter(date)}</p>
    <ul>
      {
        postCategories.map((category: Category) => (
          <li>
            <a
              class="'category"
              href={`/categoria/${category.slug}`}
            >
              {category.name}
            </a>
          </li>
        ))
      }
    </ul>
  </header>
  <Fragment set:html={excerpt} />
  <a href={`/${slug}`}>Segueix Llegint</a>
</article>

<style>
  article.card {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    word-wrap: break-word;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline;
  }
</style>

