---
import BaseLayout from '@layouts/BaseLayout.astro';
import { dateConverter, categoryMapper } from '@utils/helperFunctions';
import type { Category } from 'src/types';
const { post, postCategories } = Astro.props;

console.log('pooooost', postCategories)
const {
  title: { rendered: title },
  excerpt: { rendered: excerpt },
  slug,
  date,
  categories,
} = post;

---


  <article class='card'>
    <h2 set:html={title} />
    <p>{dateConverter(date)}</p>
    <ul>
      {
        postCategories.map((category: Category) => (
          <li>
          <a
            class="'category"
            href={`/categories/${category.slug}`}
          >
            {category.name}
          </a>
          </li>
      ))
    }
  </ul>
  <Fragment set:html={excerpt} />
  <a href={`/${slug}`}>Segueix Llegint</a>



<style>
  article.card {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    word-wrap: break-word;
    /* hyphens: auto; */
  }

  ul {
    list-style: none;
  }

  li {
    display: inline;
  }
</style>

