---
//Import layouts
import HpSectionLayout from "@layouts/HpSectionLayout.astro";

//Import data
import { mainSponsorsBlue, otherSponsors } from "@data/apiData";
---

<HpSectionLayout
  noHeading={true}
  color="var(--clr-primary)"
  bgColor="var(--clr-contrast)"
  noMaxWidth={true}>
  <aside class="sponsors-outter-container">
    <div class="sponsors-inner-containers">
      <p class="title-line">Patrocinadors principals</p>
      <nav>
        <ul class="main-sponsors-container">
          {
            mainSponsorsBlue.map((mainSponsor) => (
              <li>
                <a
                  href={mainSponsor.caption}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src={mainSponsor.url}
                    alt={mainSponsor.alt}
                    loading="lazy"
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div class="sponsors-inner-containers">
      <p class="title-line">Patrocinadors equips</p>
      <nav>
        <ul class="other-sponsors-container">
          {
            otherSponsors.map((otherSponsor) => (
              <li>
                <a
                  href={otherSponsor.caption}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    class="other-sponsors-images"
                    src={otherSponsor.url}
                    alt={otherSponsor.alt}
                    loading="lazy"
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </aside>
</HpSectionLayout>

<style>
  .sponsors-outter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .sponsors-inner-containers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .main-sponsors-container {
    display: flex;
    align-items: center;
    gap: 4.11rem;
    justify-content: center;
  }

  .other-sponsors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    gap: 4.11rem;
    width: 100%;
  }

  .other-sponsors-container li {
    max-width: 90px;
    height: 40px;
  }

  .other-sponsors-images {
    height: 100%;
    object-fit: contain;
    margin: auto;
  }

  .title-line {
    width: 100vw;
    text-align: center;
    position: relative;
  }

  .title-line::before {
    content: "";
    height: 1px;
    width: calc(50% - 6rem);
    background-color: #d8d8d8;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .title-line::after {
    content: "";
    height: 1px;
    width: calc(50% - 6rem);
    background-color: #d8d8d8;
    position: absolute;
    top: 50%;
    right: 0;
  }

  @media (max-width: 680px) {
    .main-sponsors-container {
      gap: 2rem;
    }

    .other-sponsors-container {
      gap: 2rem;
    }
  }
</style>
