---

import { fetchImagesInPageBySlug } from "fetch-wordpress-api";

const mainSponsorsBlue = await fetchImagesInPageBySlug('patrocinadors-principals-logos-blaus');

const otherSponsors = await fetchImagesInPageBySlug('altres-patrocinadors');

console.log('otherSponsors', otherSponsors);
---

<section class="sponsors-outter-container">
  <div class="inner-containers">
    <p>Patrocinadors principals</p>
    <nav>
      <ul class="main-sponsors-container">
        {
          mainSponsorsBlue.map((mainSponsor) => (
            <li>
              <a
                href={mainSponsor.caption}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src={mainSponsor.url}
                  alt={mainSponsor.alt}
                  loading="lazy"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <div class="inner-containers">
    <p>Patrocinadors equips</p>
    <nav>
      <ul class="other-sponsors-container">
        {
          otherSponsors.map((otherSponsor) => (
            <li>
              <a
                href={otherSponsor.caption}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  class="other-sponsors-images"
                  src={otherSponsor.url}
                  alt={otherSponsor.alt}
                  loading="lazy"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</section>

<style>
  .sponsors-outter-container {
    background-color: var(--clr-contrast);
    color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3rem;
    padding-inline: var(--padding-inline);
    gap: 2.5rem;
  }

  .inner-containers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .main-sponsors-container {
    display: flex;
    align-items: center;
    gap: 4.11rem;
  }

  .other-sponsors-container {
    display: flex;
    flex-wrap: wrap;
    /* padding-inline: var(--padding-inline); */
    justify-content: center;
    gap: 1.5rem;
  }

  .other-sponsors-images {
    max-width: 70%;
    height: auto;
    margin: auto;
  }

  p {
    width: 100vw;
    text-align: center;
    position: relative;
  }

  p::before {
    content: "";
    height: 1px;
    width:  calc(50% - 6rem);
    background-color: #d8d8d8;
    position: absolute;
    top: 50%;
    left: 0;
  }

  p::after {
    content: "";
    height: 1px;
    width: calc(50% - 6rem);
    background-color: #d8d8d8;
    position: absolute;
    top: 50%;
    right: 0;
  }

 

  @media (width < 1025px) {
       .sponsors-outter-container {
      padding-inline: var(--padding-inline-tablet);
    }

  }


  @media (width < 680px) {
    .sponsors-outter-container {
      padding-inline: var(--padding-inline-mobile);

    }


    .main-sponsors-container {
      gap: 2rem;
    }
    .other-sponsors-container {
      padding-inline: 0rem;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
    }
  }
</style>
