---
import { mainSponsorsBlue, otherSponsors } from "@data/sponsors";
---

<section class="sponsors-outter-container">
  <div class="inner-containers">
    <p>
      Patrocinadors principals
    </p>
    <nav>
        <ul class="main-sponsors-container">
          {
            mainSponsorsBlue.map((mainSponsor) => (
              <li>
                <a
                  href={mainSponsor.link}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img src={mainSponsor.logo} alt={mainSponsor.alt}
                  loading="lazy" 
                  />
                  
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
  </div>
  <div class="inner-containers">
    <p>
      Patrocinadors equips
    </p>
    <nav>
      <ul class="other-sponsors-container">
        {
          otherSponsors.map((otherSponsor) => (
            <li>
              <a
                href={otherSponsor.link}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  class="other-sponsors-images"
                  src={otherSponsor.logo}
                  alt={otherSponsor.alt}
                  loading="lazy" 
                />
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</section>

<style>
  .sponsors-outter-container {
    background-color: var(--clr-contrast);
    color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3rem;
    gap: 2.5rem;
  }

  .inner-containers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .main-sponsors-container {
    display: flex;
    align-items: center;
    gap: 4.11rem;
  }

  .other-sponsors-container {
    display: flex;
    flex-wrap: wrap;
    padding-inline: var(--padding-inline);
    justify-content: center; 
    gap:1.5rem;  
  }

  .other-sponsors-images {
    max-width: 70%;
    height: auto;
    margin: auto;
  }

  p {
    width: inherit;
    text-align: center;
    position: relative;
  }

  p::before {
    content: "";
    height: 1px;
    width: 44%;
    background-color: #d8d8d8;
    position: absolute;
    top: 50%;
    right: 56%;
    /* margin-right: 10rem; */
  }

   p::after {
    content: "";
    height: 1px;
    width: 44%;
    background-color: #d8d8d8;
    position: absolute;
    top: 50%;
    left: 56%;
    /* margin-left: 10rem; */
  } 


@media (width < 1025px) {
      .other-sponsors-container {
      padding-inline: 2rem;
    }

  }
  @media (width < 680px) {
    .main-sponsors-container {
      padding-inline: var(--padding-inline-mobile);
      gap: 2rem;
    }
    .other-sponsors-container {
      padding-inline: 0rem;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
    }

  }
</style>
