---
import HpSectionLayout from "@layouts/HpSectionLayout.astro";

import Dialog from "@components/Dialog.astro";
import MembershipItem from "@components/homePage/join/MembershipItem.svelte";
import SponsorshipItem from "@components/homePage/join/SponsorshipItem.svelte";
import Slider from "@components/Slider.svelte";

import { familiaSection } from "@data/apiData";

const { title } = Astro.props;

const { sponsors, membres: memberships } = familiaSection;
---

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const membershipsButton = document.getElementById("btn-memberships");
    const sponsorsButton = document.getElementById("btn-sponsors");
    const membershipsDiv = document.querySelector(".memberships");
    const sponsorsDiv = document.querySelector(".sponsors");

    membershipsButton!.classList.add("selected");

    function toggleSection(event: MouseEvent) {
      const isMembershipsButton =
        (event.target as HTMLElement)?.id === "btn-memberships";

      if (
        membershipsDiv instanceof HTMLElement &&
        sponsorsDiv instanceof HTMLElement
      ) {
        if (isMembershipsButton) {
          sponsorsDiv.classList.remove("active");
          sponsorsDiv.classList.add("outgoing");

          setTimeout(() => {
            sponsorsDiv.style.display = "none";
            membershipsDiv.style.display = "block";
            membershipsDiv.classList.remove("outgoing");
            membershipsDiv.classList.add("active");
          }, 450);
          membershipsButton!.classList.add("selected");

          // sponsorsDiv.style.display = "none";
          sponsorsButton!.classList.remove("selected");
        } else {
          membershipsDiv.classList.remove("active");
          membershipsDiv.classList.add("outgoing");

          setTimeout(() => {
            membershipsDiv.style.display = "none";
            sponsorsDiv.style.display = "block";
            sponsorsDiv.classList.remove("outgoing");
            sponsorsDiv.classList.add("active");
          }, 450);

          sponsorsButton!.classList.add("selected");

          // sponsorsDiv.style.display = "none";
          membershipsButton!.classList.remove("selected");
        }
      }
    }

    membershipsButton!.addEventListener("click", toggleSection);
    sponsorsButton!.addEventListener("click", toggleSection);
  });
</script>

<HpSectionLayout noHeading={true} isSliderSection={true}>
  <div class="title-and-options-container">
    <h2>{title}</h2>
    <div class="options-container">
      <button id="btn-memberships" class="g-button-anchor options"
        >{memberships.buttonText.toUpperCase()}</button
      >
      <button id="btn-sponsors" class="g-button-anchor options"
        >{sponsors.buttonText.toUpperCase()}</button
      >
    </div>
  </div>

  <div class="section-wrapper">
    <div class="memberships">
      <div class="memberships-container flex">
        {
          memberships.deals.map((membership) => (
            <div>
              <MembershipItem client:visible item={membership} />
            </div>
          ))
        }
      </div>

      <div class="memberships-slider g-slider-container meberships-slider">
        <Slider
          client:visible
          sliderItems={memberships.deals}
          childComponent="MembershipItem"
          itemWidth={315}
          gap={`1rem`}
        />
      </div>
    </div>

    <div class="sponsors">
      <div class="sponsors-container flex">
        {
          sponsors.deals.map((sponsor) => (
            <div>
              <SponsorshipItem client:visible item={sponsor} />
            </div>
          ))
        }
      </div>

      <div class="g-slider-container sponsors-slider">
        <Slider
          client:visible
          sliderItems={sponsors.deals}
          childComponent="SponsorshipItem"
          itemWidth={315}
          gap={`1rem`}
        />
      </div>
    </div>
  </div>
</HpSectionLayout>

<Dialog />

<style>
  .title-and-options-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--pd-y-heading-big);
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .options-container {
    display: flex;
    gap: 1.5rem;
  }

  .flex {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .sponsors-container.flex {
    flex-wrap: wrap;
  }

  .g-slider-container {
    display: none;
  }

  .sponsors-slider {
    display: none;
  }

  .sponsors {
    display: none;
  }

  .g-button-anchor {
    transition: all 0.3s ease-in-out;
  }
  .selected {
    background-color: var(--clr-accent);
  }

  @media (max-width: 1068px) {
    .section-wrapper {
      margin-left: calc(var(--pd-x) * -1);
    }
    .title-and-options-container {
      padding-right: var(--pd-x);
    }
  }

  @media (max-width: 1025px) {
    .section-wrapper {
      margin-left: calc(var(--pd-x-medium) * -1);
    }

    .title-and-options-container {
      padding-right: var(--pd-x-medium);
      padding-bottom: var(--pd-y-heading-medium);
    }
  }

  @media (max-width: 932px) {
    .section-wrapper {
      margin-left: 0rem;
    }
    .memberships-container {
      display: none;
    }
    .memberships-slider {
      display: block;
    }

    .title-and-options-container {
      padding-left: 0rem;
    }
  }

  @media (max-width: 859px) {
    .sponsors-container {
      display: none;
    }

    .sponsors-slider {
      display: block;
    }

    .memberships.active,
    .memberships.outgoing,
    .sponsors.active,
    .sponsors.outgoing {
      animation: none !important;
    }
  }
  @media (max-width: 648px) {
    .title-and-options-container {
      padding-right: var(--pd-x-small);
    }
    .options-container {
      gap: 0.48rem;
    }

    .g-button-anchor {
      width: var(--wd-btn-small);
    }
  }

  @media (max-width: 375px) {
    .g-button-anchor {
      width: 8rem;
    }
  }

  @media (width > 1400px) {
    .section-wrapper {
      padding-inline: 0rem;
    }
  }
  .memberships.active {
    animation: slide-in-from-left 0.45s forwards ease-in;
  }

  .memberships.outgoing {
    animation: slide-out-to-left 0.45s forwards ease-in;
  }

  .sponsors.active {
    animation: slide-in-from-right 0.45s forwards ease-in;
  }

  .sponsors.outgoing {
    animation: slide-out-to-right 0.45s forwards ease-in;
  }

  @keyframes slide-in-from-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-in-from-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-to-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes slide-out-to-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
