---
const { team } = Astro.props;
---

{
  team.name === "Escola" ? (
    <article class="team-article-responsive">
      <a href="">
        <img src={team.image} alt={team.alt} />
        <img class="mascot" src={team.mascot} alt={team.mascotAlt} />
        <h3 class="team-name">{team.name}</h3>
      </a>
    </article>
  ) : (
    <article class="team-article-responsive">
      <a href="">
        <img src={team.image} alt={team.alt} />
        <h3 class="team-name">{team.name}</h3>
      </a>
    </article>
  )
}

<style>
  .team-article-responsive {
    position: relative;
    width: 23.4375rem;
    height: 23.4375rem;
    border-top-left-radius: 2.9375rem;
    overflow: hidden;
  }

  .team-article-responsive a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .team-article-responsive a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .team-article-responsive a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #18366c 0%, rgba(0, 26, 156, 0) 83.17%);
  }

  .team-name {
    position: absolute;
    left: 1.81rem;
    bottom: 1.81rem;
    z-index: 10;
  }

  .half-hidden .mascot {
    position: absolute;

    right: -1.5rem;
  }

  .flex-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }
</style>
