---

  import IndividualMemebership from "@components/homePage/memberships/IndividualMembership.svelte";

import ButtonAnchor from "@components/ButtonAnchor.svelte";
import { memberships } from "@data/memberships";
import Slider from "@components/Slider.svelte";

const buttonText = "fes-te soci";
let isSelected = true;

function toggleSelected() {
  isSelected = !isSelected;
}
---

<section class="g-page-section-with-slider-container">
  <div class="title-and-options-container">
    <h2>Forma part de la família CBG</h2>
    <div class="options-container">
      <button>{buttonText.toUpperCase()}</button>
      <ButtonAnchor isFilled={isSelected} text={`fes-te soci`} isSmallBtn={true}/>

      <ButtonAnchor isFilled={!isSelected} text={`fes-te sponsor`} isSmallBtn={true}/>
    </div>
  </div>

  <!-- <div class="desktop">
    <IndividualMemebership {memberships} />
  </div> -->

  <div class="g-slider-container">
    <Slider
      client:visible
      sliderItems={memberships}
      childComponent="MembershipItem"
      itemWidth={315}
      gap={`1rem`}
    />
  </div>
</section>
<style>
  .g-slider-container {
    display: none;
  }

  .g-page-section-with-slider-container {
    background-color: var(--clr-primary);
  }

  .title-and-options-container {
    padding-right: var(--padding-inline);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .options-container {
    display: flex;
    gap: 1.5rem;
  }

  @media (width < 1062px) {
    .desktop {
      display: none;
    }

    .g-slider-container {
      display: block;
    }

    .section-title-container {
      padding-inline: var(--padding-inline-mobile);
    }
  }

  @media (width < 1025px) {
    .title-and-options-container {
      padding-right: var(--padding-inline-tablet);
    }
  }

   @media (width < 648px) {
    .title-and-options-container {
      padding-right: var(--padding-inline-mobile);
    }
  }

  @media (width < 397px) {
    .options-container{
      gap: 0rem;
      width: 100%;
      justify-content: space-between;
      padding-right: var(--padding-inline-mobile);
    }
  }
</style>
