---
import DropDownMenu from "@components/header/bottomHeader/DropDownMenu.astro";
import LaHistoriaLogo from "../../../assets/LaHistoriaLogo.astro";
import SearchWidget from "@components/SearchWidget.svelte";

const { navigation, websiteContent } = Astro.props;
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let isScrollingDown = false;
    let previousScrollPosition = window.scrollY;
    const scrollThreshold = 10; // Adjust this value as needed

    const logo = document.querySelector(".logo");
    const logoContainer = document.querySelector(".logo-container");
    logo.style.bottom = "0.5rem";
    logoContainer.style.setProperty("--logo-size", "100%"); // Restore logo size
    isScrollingDown = false;

    const handleScroll = () => {
      const currentScrollPosition = window.scrollY;

      if (currentScrollPosition > previousScrollPosition + scrollThreshold) {
        // Scrolling down beyond the threshold
        if (!isScrollingDown) {
          logo.style.bottom = "0.3rem";
          logoContainer.style.setProperty("--logo-size", "50%"); // Reduce logo size
          isScrollingDown = true;
        }
      } else if (
        currentScrollPosition <
        previousScrollPosition - scrollThreshold
      ) {
        // Scrolling up beyond the threshold
        if (isScrollingDown) {
          logo.style.bottom = "0.5rem";
          logoContainer.style.setProperty("--logo-size", "100%"); // Restore logo size
          isScrollingDown = false;
        }
      }

      previousScrollPosition = currentScrollPosition;
    };

    window.addEventListener("scroll", handleScroll);
  });
</script>

<div class="logo-container">
  <a class="logo" href="/">
    <img
      src="/logo.svg"
      alt="Logo del Club Bàsquet Granollers"
      style="width: var(--logo-size); height: var(--logo-size);"
    />
  </a>
</div>

<nav class="nav">
  <ul>
    {
      navigation.map((item) => (
        <li>
          {item.desplegable ? (
            <DropDownMenu {item} />
          ) : item.enllac?.includes("http") ? (
            <a href={item.enllac} target="_blank" rel="noopener noreferrer">
              {item.titol?.toUpperCase()}
            </a>
          ) : (
            <a href={item.enllac}>{item.titol?.toUpperCase()}</a>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<div class="history-search-container">
  <a
    class="history-logo-link"
    href="https://historiabasquetgranollers.cat/"
    target="_blank"
  >
    <LaHistoriaLogo
      wd="199"
      title="Logo de La Història del Bàsquet a Granollers"
    />
  </a>

  <SearchWidget client:load {websiteContent} />
</div>

<style>
  .logo-responsive {
    --logo-size: 100%; /* Default size */
    /* transition: --logo-size 10s ease-in-out; Add transition for smooth resizing */
  }
  .logo {
    width: 68px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0.5rem;
    left: var(--pd-x);
    transition: bottom 0.5s ease-in; /* Add transition for smooth resizing */
  }

  .logo img {
    width: var(--logo-size);
    height: var(--logo-size);
    transition:
      width 0.5s ease-in,
      height 0.5s ease-in; /* Add transition for smooth resizing */
  }

  .history-search-container {
    height: 100%;
    position: absolute;
    display: flex;
    right: var(--pd-x);
    bottom: 50%;
    transform: translateY(50%);
    gap: 0.94rem;
    display: flex;
    gap: 3.22rem;
    align-items: center;
  }

  .history-logo-link {
    height: 100%;
  }

  ul {
    min-height: var(--hg-header-bottom-section);
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: var(--clr-primary);
    font-weight: var(--fnt-wg-medium);
    padding-left: 12.4rem;
    transition: min-height 0.5s ease-in-out;
  }

  a {
    color: var(--clr-primary);
  }
</style>
