---
// Import Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Import components
import Hero from "@components/homePage/hero/Hero.astro";
import MainSponsors from "@components/homePage/sponsors/MainSponsors.astro";
import AllSponsors from "@components/homePage/sponsors/AllSponsors.astro";
import Projects from "@components/homePage/projects/Projects.astro";
import Teams from "@components/homePage/teams/Teams.astro";
import Join from "@components/homePage/join/Join.astro";
import News from "@components/homePage/news/News.astro";

import { pageSectionTitles } from "@data/apiData";

const { news, family, teams, projects} = pageSectionTitles;


---

<BaseLayout>
  <h1 class="g-visibly-hidden">Club Bàsquet Granollers</h1>
  <Hero />
  <MainSponsors />
  <News title={news}/>
  <Join title={family}/>
  <Teams needsHeading={true} title={teams}/>
  <Projects title={projects}/>
  <AllSponsors />
</BaseLayout>
