---
import DirectesIcon from "@assets/DirectesIcon.svelte"
import SocialMediaMenu from "@components/SocialMediaMenu.astro";

const { topHeaderContent } = Astro.props;

const { text1, link1 } = topHeaderContent![0];
const { text2, link2 } = topHeaderContent![1];
---

<div class="top-header-content">
  <div class="text-content">
    {
      text1 && !link1 ? (
        <p>{text1.toUpperCase()}</p>
      ) : text1 && link1 ? (
        link1.includes("http") ? (
          <a
            href={link1}
            class="g-underline-links"
            target="_blank"
            rel="noopener noreferrer"
          >
            {text1.toUpperCase()}
          </a>
        ) : (
          <a href={link1} class="g-underline-links">
            {text1.toUpperCase()}
          </a>
        )
      ) : null
    }
  </div>
  <div class="text-content">
    {
      text2 && !link2 ? (
        <p>{text2.toUpperCase()}</p>
      ) : text2 && link2 ? (
        link2.includes("http") ? (
          <a
            href={link2}
            class="underline-links"
            target="_blank"
            rel="noopener noreferrer"
          >
            {text2.toUpperCase()}
          </a>
        ) : (
          <a href={link2} class="underline-links" target="_blank">
            {text2.toUpperCase()}
          </a>
        )
      ) : null
    }
  </div>
  <div class="social-menu">
    <a href="" title="Partits en directe">
      <DirectesIcon />
    </a>
    <SocialMediaMenu isFromHeader={true} />
  </div>
</div>

<style>
  .top-header-content {
    position: relative;
    font-size: 0.78125rem;
    font-weight: 500;
    font-style: italic;
    width: 100%;
    min-height: var(--hg-header-top-section);
    display: flex;
    align-items: center;
    padding-left: 12.14rem;
    padding-right: var(--pd-x);
  }

  .text-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .social-menu {
    position: absolute;
    right: var(--pd-x);
    display: flex;
    align-items: center;
    gap: 1.5rem;

  }
 .text-content {
  padding-bottom: 0.4rem;
  }
 

  @media (max-width: 1025px) {
    .social-menu {
      display: none;
    }

    .top-header-content {
      padding: 0rem;
      justify-content: space-around;
    }
  }
</style>
