---
import DirectesIcon from "@assets/DirectesIcon.svelte"
import SocialMediaMenu from "@components/SocialMediaMenu.svelte";

const { topHeaderContent, socialMedia } = Astro.props;

const {titol, link} = topHeaderContent[0];

---

<div class="top-header-content">
  <div class="text-content">
    {
      titol && !link ? (
        <p>{titol.toUpperCase()}</p>
      ) : titol && link ? (
        link.includes("http") ? (
          <a
            href={link}
            class="g-underline-links"
            target="_blank"
            rel="noopener noreferrer"
          >
            {titol.toUpperCase()}
          </a>
        ) : (
          <a href={link} class="g-underline-links">
            {titol.toUpperCase()}
          </a>
        )
      ) : null
    }
  </div>
 

  <div class="social-menu">
    <a href="https://ott.myplay.com/es/cb-granollers/all-teams/home" target="_blank" title="Partits en directe">
      <DirectesIcon />
    </a>
    <SocialMediaMenu {socialMedia} />
  </div>
</div>

<style>
  .top-header-content {
    position: relative;
    font-size: 0.78125rem;
    font-weight: 500;
    font-style: italic;
    width: 100%;
    min-height: var(--hg-header-top-section);
    display: flex;
    align-items: center;
    padding-left: 12.14rem;
    padding-right: var(--pd-x);
  }

  .text-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .social-menu {
    position: absolute;
    right: var(--pd-x);
    display: flex;
    align-items: center;
    gap: 1.5rem;

  }
 .text-content {
  padding-bottom: 0.4rem;
  }
 

  @media (max-width: 1025px) {
    .social-menu {
      display: none;
    }

    .top-header-content {
      padding: 0rem;
      justify-content: space-around;
    }
  }
</style>
