---
import { fetchImagesInPageBySlug } from "fetch-wordpress-api";

const socialMediaLinks = await fetchImagesInPageBySlug("xarxes-socials");

// const order = ["youtube", "tiktok", "facebook", "x.com", "instagram"];

// const getOrderIndex = (title) => {
//   for (let i = 0; i < order.length; i++) {
//     if (title.toLowerCase().includes(order[i])) {
//       return i;
//     }
//   }
//   return order.length; // Return a value larger than any valid index for items that don't match any order
// };
// socialMediaLinks.sort((a, b) => {
//   return getOrderIndex(a.title) - getOrderIndex(b.title);
// });
---

<nav>
  <ul>
    {
      socialMediaLinks.map((socialMediaLink) => {
        const name = socialMediaLink.title.toLowerCase().includes("instagram")
          ? "Instagram"
          : socialMediaLink.title.toLowerCase().includes("facebook")
          ? "Facebook"
          : socialMediaLink.title.toLowerCase().includes("x.com")
          ? "Twitter"
          : socialMediaLink.title.toLowerCase().includes("youtube")
          ? "Youtube"
          : socialMediaLink.title.toLowerCase().includes("twitch")
          ? "Twitch"
          : "TikTok";

          let { url, caption, alt } = socialMediaLink;
          if (name === "TikTok") {
            caption = `https://www.tiktok.com/${caption}`;
          }
        return (
          <li>
            <a
              title={name}
              href={caption}
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src={url} alt={alt} />
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  nav {
    width: 11.0544rem;
    height: 1.09956rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
  }

 @media (width < 648px) {
  nav {
    width: auto;
  }
 }
</style>
