---
import HpSectionLayout from "@layouts/HpSectionLayout.astro";

import Slider from "@components/Slider.svelte";

import { projects } from "@data/apiData";

projects.splice(9);

---

<HpSectionLayout sectionTitle="Events i projectes" isSliderSection={true}>
  <div class="projects-desktop">
    {
      projects.map((project) =>
        project.image ? (
          <article class="project-item">
            <a href={`/projectes-i-events/${project.slug}`}>
              <img
                class="image"
                src={project.image.url}
                alt={project.image.alt}
              />
            </a>
          </article>
        ) : null,
      )
    }
  </div>

  <div class="g-slider-container mobile">
    <Slider
      client:visible
      sliderItems={projects}
      childComponent={`ProjectItem`}
      itemWidth={331}
      gap={`1rem`}
    />
  </div>
</HpSectionLayout>

<style>
  .mobile {
    display: none;
  }

  a {
    display: block;
    height: 100%;
  }
  .projects-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-right: var(--pd-x); */
    gap: 1rem;
  }

  .project-item {
    background: var(--clr-contrast);
    width: var(--wd-three-columns);
    height: 14.375rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1068px) {
    .projects-desktop {
      margin-left: calc(var(--pd-x) * -1);
    }
  }
  @media (max-width: 1025px) {
    .projects-desktop {
      margin-left: calc(var(--pd-x-medium) * -1);
    }
  }

  @media (max-width: 720px) {
    .projects-desktop {
      margin-left: 0rem;
    }
    .mobile {
      display: block;
    }
    .projects-desktop {
      display: none;
    }
  }

  @media (max-width: 648px) {
    .projects-desktop {
      margin-left: calc(var(--pd-x-small) * -1);
    }
  }

  @media (width > 1400px) {
    .projects-desktop {
      padding-inline: 0rem;
    }
  }
</style>
