---
import TopHeader from "@components/header/TopHeader.astro";
 import { fetchImagesInPageBySlug } from "@utils/apiFunctions/index";
import BottomHeader from "@components/header/bottomHeader/BottomHeader.astro";

import HeaderLineSeparator from "@components/header/HeaderLineSeparator.astro";
import { fetchPageBySlug } from "@utils/apiFunctions/index";
import { displayButtonHistory, displaySearchIcon, extractNavigation, extractTopHeaderContent } from "@utils/helperFunctions";
import { fetchPages, fetchPosts } from "@utils/apiFunctions";
import BottomHeaderResponsive from "../components/header/bottomHeader/BottomHeaderResponsive.svelte";

const page = await fetchPageBySlug("capcalera");

const {
  content: { rendered: content },
} = page[0];

const topHeaderContent = extractTopHeaderContent(content);

const navigation = extractNavigation(content);

const isButtonHeader = displayButtonHistory(content);


let [posts, pages, socialMediaLinks] = await Promise.all([
  fetchPosts(100, ["categories", "title", "slug", "content", "date"]),
  fetchPages(100, ["title", "slug", "content", "date"]),
  fetchImagesInPageBySlug("xarxes-socials")
]);

const configPages = new Set(["capcalera", "peu-de-pagina", "la-familia-cbg", "equips", "patrocinadors-principals-logos-blaus", "patrocinadors-principals-logos-blancs", "altres-patrocinadors", "xarxes-socials", "jugadors-equip-senior-masculi", "jugadores-equip-senior-femeni" ]);

const nonConfigPages = pages.filter(
   (page) => !configPages.has(page.slug),
 );

const postsToShow = posts.filter((post) => post.categories.includes(19) || post.categories.includes(41) || post.categories.includes(42));


postsToShow.forEach((post) => {
  if (
    (post.categories.includes(19) || post.categories.includes(41)) &&
    !post.slug.includes("noticies")
  ) {
    post.slug = `./noticies/${post.slug}`;
  } else if (
    post.categories.includes(42) &&
    !post.slug.includes("projectes-i-events")
  ) {
    post.slug = `./projectes-i-events/${post.slug}`;
  }
});

const websiteContent = [...nonConfigPages, ...postsToShow];
---

<header>
  <section class="header-top-section">
      <TopHeader {topHeaderContent} />
  </section>
  <section class="header-bottom-section">
    <div class="bottom-header">
      <BottomHeader {websiteContent} {navigation} {isButtonHeader} />
    </div>
    <div class="bottom-header responsive">
      <BottomHeaderResponsive client:load {websiteContent} {navigation} {topHeaderContent} {socialMediaLinks}/>
    </div>
  </section>
  <div class="separator-line">
    <HeaderLineSeparator />
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .header-top-section {
    min-height: var(--top-header-hg);
    background-color: var(--clr-primary);
  }

  .bottom-header {
    min-height: var(--bottom-header-hg);
    background-color: var(--clr-contrast);
    background-color: rgba(243, 243, 243, 0.9);
    position: relative;
  }
  .responsive {
    display: none;
  }

  .separator-line {
    height: var(--header-separator-line-hg);
  }
  @media (width < 1258px) {
    .bottom-header {
      display: none;
      padding-inline: var(--padding-inline);
    }
    .separator-line {
      height: var(--header-separator-line-responsive-hg);
    }

    .responsive {
      display: block;
    }
  }
  @media (width < 1065px) {
    .bottom-header {
      padding-inline: var(--padding-inline-tablet);
    }
  }

  @media (width < 648px) {
    .header-top-section {
      display: none;
    }

    .bottom-header {
      padding-inline: var(--padding-inline-mobile);
    }
  }

  
</style>
